<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Imitator</title>
    <script src="/javascripts/theme.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/utils.js"></script>
    <script type="module" src="/javascripts/sockets.js"></script>
  </head>
  <body>
    <div class="app-shell">
      @include('partials/header')

      <main class="app-main">
        {{{ await $slots.main() }}}
        <div id="spinner"></div>
      </main>
    </div>
  </body>
</html>
