div(id="artifact-output-card" class="card h-auto flex flex-wrap flex-shrink w-3/4 m-auto hidden")
  div(class="card-title") Results

  div(class="mb-4 w-full")
    span(class="label") Outputs:

    div(class="py-4 px-2 w-full")
      pre(id="artifact-stdout" class="code-block h-64")

  div(id="artifact-output-files" class="mb-4 w-full")
    span(class="label") Generated files:
