div(id="output-card" class="card h-auto flex flex-wrap flex-shrink w-3/4 m-auto hidden")
  div(class="card-title") Results

  div(id="output-models", class="mb-4 w-full")
    span(class="label") Models:

  div(id="output-property", class="mb-4 w-full")
    span(class="label") Property:

  div(id="output-options", class="mb-4 w-full")
    span(class="label") Options:

  div(class="mb-4 w-full")
    span(class="label") Outputs:

    div(id="output-stdout", class="py-4 px-2 w-full")
      div(class="tab-slider--nav w-full mb-2 float-left select-none ")
        ul(class="tab-slider--tabs")

      div(class="tab-slider--container")

  div(id="output-files" class="mb-4 w-full")
    span(class="label") Generated files:

  //- div(class="pt-6 w-full")
  //-   button(id="download-button", class="submit-button w-full") Download All
