NODE_ENV=development
HOST=0.0.0.0
PORT=3000
LOG_LEVEL=info
APP_NAME=imitator-runner
APP_URL=http://localhost:3000
APP_KEY=
UPLOAD_FOLDER=/tmp/imitator-runner
BENCHMARKS_FOLDER=./benchmarks
DOCKER_API=https://hub.docker.com/v2/repositories/imitator/imitator
TIME_LIMIT_FILES=7
