NODE_ENV=development
HOST=0.0.0.0
PORT=3000
LOG_LEVEL=info
APP_NAME=imitator-runner
APP_URL=http://localhost:3000
APP_KEY=
UPLOAD_FOLDER=/tmp/imitator-runner
BENCHMARKS_FOLDER=./benchmarks
BENCHMARKS_AUTO_DOWNLOAD=true
BENCHMARKS_ARCHIVE_URL=https://zenodo.org/api/records/10600092/files/benchmarks.zip/content
BENCHMARKS_ARCHIVE_CHECKSUM=md5:85b83375de1dc12cc25c11c374b3aaa0
BENCHMARKS_DOWNLOAD_TIMEOUT_MS=30000
DOCKER_API=https://hub.docker.com/v2/repositories/imitator/imitator
TIME_LIMIT_FILES=7
