doctype html
html
  head
    title Imitator Runner
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/download.js')
    script(src='/javascripts/utils.js')
  body
    div(class="w-full bg-grey-lighter h-screen flex flex-col justify-center")
      block content
