@tailwind base;

@tailwind components;

@tailwind utilities;

/* variables */
:root {
  --nav-height: 48px;
}

.navigation {
  height: var(--nav-height);
}

.content {
  height: calc(100% - var(--nav-height));
}

.loading {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/** CSS for tabs **/

.tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  background: #fff;
  height: 35px;
  user-select: none;
}
.tab-slider--tabs:after {
  transition: all 250ms ease-in-out;
}
.tab-slider--tabs.slide:after {
  left: 50%;
}

.tab-slider--trigger {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #345F90;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  user-select: none;
}
.tab-slider--trigger.active {
  color: #fff;
  background: #345F90;
  border-radius: 35px;
  transition: all 250ms ease-in-out;
}
