@tailwind base;

@tailwind components;

@tailwind utilities;

.navigation {
  height: 65px;
}

.content {
  height: calc(100% - 65px);
  height: -o-calc(100% - 65px); /* opera */
  height: -webkit-calc(100% - 65px); /* google, safari */
  height: -moz-calc(100% - 65px); /* firefox */
}
